.bannerbw {
    background-color: #000000; /* Banner color */
    color: rgb(255, 255, 255); /* Text color */
    padding: 10px; /* Space inside the banner */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Rounded corners */
    display: block; /* Ensures proper alignment */
}